  @font-face {
      font-family: 'Andika';
      font-style: normal;
      font-weight: 400;
      src: url('./andika.ttf') format('truetype');
  }
  
  body {
	  background-color: #efefeb;
  }
.phoneme-selector,.created-words,.available-phonemes,.listen-phonemes{
      display: none;
    }
    .phoneme-selector{
      position:absolute;
      bottom: 50px;
    }
/* Here starts top navigation */
  #navigation{
    min-height: 50px;
	width: 100%;
  	border-bottom: 1px solid #eaeaea;
	padding: 20px 0 0 0;
	float: left;
  }
  #navigation a {
  background-color: #99ca20;
  color: white;
  border-radius:5px;
  padding-left: 5px;
  padding-right: 5px;
	font-family: Andika;
	font-size: 1.6em;
	line-heigh: 28px;
	cursor: pointer;
	text-decoration: none;
	font-weight: 500;
	margin: 0 10px 0 10px;
  }
  #navigation a:hover {
    text-decoration: none;
    color: #ff7264;
  }
/* Here ends top navigation */

  #listen-status{
    font-size: 500%;
    text-align: center;
  }

  #availablePhonemes{
    font-size: 400%
  }
/* Start voice selector menu */
  #voice-selector{
	margin: 20px 10px;
  }

  #voice-selector span{
    background-color: grey;
    font-size: 300%;
  }
  #voice-selector span.selected{
    background-color: #ff7264;
  }
/* End voice selector menu */

/* Start phoneme selector */
.phoneme-selector {
	min-height: 40px;
	padding: 0;
	border-top: 1px solid #eaeaea;
	display: block;
	width: 95%;
  bottom: 10px;
}
#phonemeSelector {
	width: 98%;
	margin: 0 10px 0 10px;
}
#phonemeSelector span.phoneme-button {
  border-radius: 5px;
	cursor: pointer;
	background-color: #ffb064;
  color: white;
	font-family: Andika;
	font-size: 2em;
	line-height: 40px;
	border: 0;
  padding-left:5px;
  padding-right:5px;
  display: inline-block;
  margin-bottom:5px;
  min-width: 18px;
  text-align: center;
}

#phonemeSelector span.shift-active {
  background-color: #99ca20;
}

#phonemeSelector span.phoneme-button:hover {
	color: #ff7264;
}

span#record-play {
	cursor: pointer;
	color: #ffb064;
	font-family: Andika;
	font-size: 2em;
	line-height: 28px;
	border: 0;
}
/* End phoneme selector */

/* Start voice selector */
#voice-selector span {
	cursor: pointer;
	font-family: Andika;
	color: #fff;
	border:1px solid #ffb064;
	border-radius:5px;
	background: url('speaker.png') no-repeat 3 2 #ffb064;
	font-size: 1.2em;
	padding: 5px 5px 5px 40px;
}
/* Start voice selector */

/* Start words */
#createdWords {
	font-family: Andika;
	color: #222;
}
/* End words */
/* Start Button */
.record-phonemes button {
	cursor: pointer;
	font-family: Andika;
	color: #fff;
	border:1px solid #ffb064;
	border-radius:5px;
	background: #ffb064;
	font-size: 1.2em;
	padding: 5px;
	font-weight: 500;
}
span#record-start-stop, span#record-play {
	cursor: pointer;
	font-family: Andika;
	color: #fff;
	border:1px solid #ffb064;
	border-radius:5px;
	background: #ffb064;
	font-size: 1.2em;
	font-weight: 500;
}
span#record-start-stop {
	background: url('mic.png') no-repeat 0 2 #ffb064;
	padding: 5px 10px 5px 30px;
}
span#record-start-stop.recording{
  background-color: #ff7264;
}
span#record-play {
	background: url('play.png') no-repeat 5 4 #ffb064;
	padding: 5px 10px 5px 45px;
}

/* End Button */

img#logo{
  max-width: 10%;
  max-height: 10%;
  position: absolute;
  right: 5px;
  top: 5px;
}
